{% extends "base.html" %}
{% block title %}Your Account{% endblock %}

{% block content %}

<div class="conatiner mx-3">
	<h2 class="display-4 pt-4">Your Favorited Movies</h2><br/>
		<table>
			{% for favorite in favorites %}
				<h4 class="">Movie: {{ favorite.movie }}</h4>
				<form action="{{ url_for('unfavorite', movie=favorite.movie) }}" method="post">
					<input type="hidden" name="favorite_id" value="{{ favorite.favorite_id }}">
					<div class=" pb-4 actions"><button class="btn btn-danger" type="submit" value="Unfavorite"><i class="fas fa-star"></i> Unfavorite</button></div></form>
				
			{% else %}
				You don't have any favorited movies<br/><br/>
			{% endfor %}
		</table>
		<hr>
	<h2 class="display-4">Your Streaming Service Subscriptions</h2><br/>
		{% if error %}<p class="error"><strong class="text-danger">Error:</strong> {{ error }}{% endif %}
		
			{% for subscription in subscriptions %}
			<div class="row pb-4 mx-3">
				<h4 class="pr-4"> {{ subscription.subscription|capitalize }}</h4>
				<form action="{{ url_for('cancel_subscription', service=subscription.subscription) }}" method="post">
					<input type="hidden" name="subscription_id" value="{{ subscription.subscription_id }}">
					<div class="actions"><button class="btn btn-sm btn-danger" type="submit" value="Remove Subscription"><i class="far fa-times-circle"></i></button></div></form>
			</div>	
			{% else %}
				You don't have any streaming subscriptions.<br/><br/>
			{% endfor %}
	
		<br/><br/>
		<form action="" method="post" id="subscriptionForm">
			<dt>Enter Subscription:
			<input type="text" id="subscription" name="subscription" value="" />
			<br/>
			<br/>
			<div class="actions"><button class="btn btn-success" type="submit" id="Add" value="Add">Add </button></div>
		</form>
		<br/>
		<br/>
		<hr>
</div>
{% endblock %}