{% extends 'base.html' %}


{% block content %}

{%if id%}
<h1 class="pb-6 d-flex justify-content-center">Dude we found your movie!</h1>
<!-- {{response2}}
{{response}} -->
<div class="container">
		<div class="row pb-4">
		
			<div class="col-4">
				<img src="https://image.tmdb.org/t/p/original/{{response2['poster_path']}}" style="width: 200px; height:300px;"></img>
			</div>
			<div class="col-4">
				<h2>{{response2['original_title']}}</h2>
				<p>{{response2['overview']}}</p>
			</div>
		</div>
		
	<div class="row">
	
	{% if g.user %}
		<h4>Favorite: <h4>
		{%if isFavorite %}
			<form action="{{ url_for('unfavoriteSearch', movie=the_title, movie_id=id) }}" method="post">
				<input type="hidden" name="favorite_id" value="Unfavorite">
				<div class="actions"><input type="submit" value="Unfavorite"></div></form>
		{%else%}
				
			<form action="{{ url_for('favoriteSearch', movie=the_title, movie_id=id) }}" method="post">
				<input type="hidden" name="favorite" value="Favorite">
				<div class="actions"><input type="submit" value="Favorite"></div></form>
		{%endif%}
	{%endif%}
	</div>
	
	<h4>Streaming: <h4>
	<div class="row">
	{%for item in response['flatrate']%}
			<a href="https://www.google.com/search?q={{item['provider_name']}}+{{the_title}}" target="_blank">
			<img src="https://image.tmdb.org/t/p/original/{{item['logo_path']}}" style="width: 75px; height:75px;"></img>
			</a>
			
	{%endfor%}
	</div>
	
	<h4>Rent: <h4>
	<div class="row">
	{%for item in response['rate']%}
			<div class="col-1 mx-auto" style="position: relative; width: 250px; float: left;">>
				<a href="https://www.google.com/search?q={{item['provider_name']}}+{{the_title}}" target="_blank">
				<img src="https://image.tmdb.org/t/p/original/{{item['logo_path']}}" style="width: 75px; height:75px;"></img>
				</a>			
			</div>
	
	{%endfor%}
	</div>
	
	<h4>Buy: <h4>
	<div class="row">
	{%for item in response['buy']%}
	
			<div class="col-1 mx-auto" style="position: relative; width: 250px; float: left;">
				<a href="https://www.google.com/search?q={{item['provider_name']}}+{{the_title}}" target="_blank">
				<img src="https://image.tmdb.org/t/p/original/{{item['logo_path']}}" style="width: 75px; height:75px;"></img>
				</a>
			</div>

	
	{%endfor%}
	</div>
	
	<h4>Reviews:<h4>
	<div class="row">
	{%for item in reviews['results']%}
			<p>{{item['author']}}</p>
			<p>{{item['content']}}</p>
	
	{%endfor%}
	</div>
	
</div>

<!--
	{%for item in response%}
	<h2>{{response['provider_name']}}: <a href="{{item['link']}}" target="_blank">{{item['link']}}</a></h2>
	{%endfor%}
 -->
{%else%}
<h1 class="pb-6 d-flex justify-content-center">Search Results:</h1>
{% for item in response%}
<div class="container">

	<div class="row">
		
		<div class="col-3 pb-2">
		<img src="https://image.tmdb.org/t/p/original/{{item['poster_path']}}" style="width: 200px; height:300px;"></img>
		</div>

		<div class="col-4 ml-0">
		<h2><a href="{{ url_for('movieTest', movieId=item['id'],movieTitle = item['original_title'])}}" >{{item['original_title']}}</a></h2>
		<p>{{item['overview']}}</p>
		</div>
	</div>

<hr>
</div>
{%endfor%}
{%endif%}
{% endblock content %}
